/* app css stylesheet */
.centered {
  text-align: center;
}
.hidden {
  display: none;
}

.target {
  width:140px;
  height:120px;
  float:left;
  margin:5px;
  position: relative;
}

.target:hover {
  background-color: #eee;
}
.target img {
  width: auto;
  max-width: 80px;
  height: auto;
  max-height: 80px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -80%);
  position: absolute;
}
.targetName {
  float: left;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  color: #333;
}

.opponent {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.avatar {
  position: relative;
}
.avatar img {
  left: 50%;
  transform: translate(-50%, -80%);
  position: absolute;
}

.attackTable {
  width: 100%;
}
.specialAttack.last td {
  border-bottom: 0px none;
  padding-bottom: 0px;
}
/*.stars {
  min-width: 145px;
}
.attackName {
  min-width: 120px;
}*/

.fa-star-half-o {
  margin-left: -4px;
}

.myPokemon.disabled img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.myPokemon.enabled img {
  filter: none;
  -webkit-filter: grayscale(0);
}
.myPokemon img:hover {
  filter: gray; /* IE6-9 */
  filter: grayscale(0.5); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0.5); /* Google Chrome, Safari 6+ & Opera 15+ */
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .break {
    display: none;
  }
  .avatar {
    height: 40px;
    width: 40px;
    top: 0%;
  }
  .avatar img {
    max-width: 40px;
    max-height: 40px;
    margin-top: 14px;
    top: 50%;
  }
  .avatar span {
    display: none;
  }
/*  .avatar img {
    max-width: 90px;
    max-height: 90px;
  }
  .avatar span {
    font-size: 1.0em;
    top: 95%;
  }*/
  .collapsedView .specialAttack{
    display: none;
  }
  .attack td {
    border-bottom: 0px none;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .avatar {
    height:150px;
    width: 150px;
    top: 20px;
  }
  .avatar img {
    max-width: 110px;
    max-height: 110px;
    top: 65%;
  }
  .avatar span {
    white-space: nowrap;
    font-size: 1.3em;
    color: #333;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -80%);
    position: absolute;
  }
}