<div class="container">
  <div style="margin:20px;" class="row centered">
    <img style="max-height:80px" ng-src="img/pokemon/{{ targetId }}.png" />
    <h2>{{ targetName }}</h2>
  </div>

  <div style="margin-bottom: 100px;" ng-repeat="(ranking, subPokemons) in subPokemonsByRanking" class="row">
    <span style="width: 100%;float: left;border-bottom:1px solid">{{ ranking }}</span>
    <div style="margin-bottom:30px;" ng-repeat="subPokemon in subPokemons" class="tile">
      <img ng-src="img/pokemon/{{subPokemon.id}}.png" />
      <span class="tileTag">{{ subPokemon.attackTypes }}</span>
      <span class="tileName">{{ subPokemon.displayName }}</span>
    </div>
  </div>
  <!-- <div class="row">
    <pre>{{ result }}</pre>
  </div> -->
</div>
