<div class="container">
  <div style="margin:20px;" class="row centered">
    <img style="max-height:80px" ng-src="img/pokemon/{{ target.id }}.png" />
    <h2>{{ target.displayName }}</h2>
    <table style="margin-left:auto;margin-right:auto;line-height:0.8em">
      <tr>
        <td><strong>Type:</strong></td><td>{{ target.displayTypes }}</td>
      </tr>
      <tr>
        <td><strong>Strong against:</strong></td><td>{{ target.displayStrengths }}</td>
      </tr>
      <tr>
        <td><strong>Weak against:</strong></td><td>{{ target.displayWeaknesses }}</td>
      </tr>
    </table>
  </div>

  <div class="row" ng-repeat="pokemon in rankedPokemon">
    <div class="three columns">
      <div style="margin-bottom:30px;" class="tile">
        <img ng-src="img/pokemon/{{pokemon.id}}.png" />
        <span class="tileName">{{ pokemon.displayName }}</span>
      </div>
    </div>
    <div class="nine columns">
      <span>Defense: {{ pokemon.defenceRanking | number: 2  }} ({{ pokemon.defenceRanking * pokemon.defense | number: 0 }})</span><br />
      <span>Quick attacks:</span><br />
      <div ng-repeat="quickAttack in pokemon.quickAttacks">
        <span>{{ quickAttack.name}}: {{ quickAttack.attackRanking | number: 2 }} ({{ quickAttack.attackRanking * pokemon.attack | number: 0 }})</span><br />
      </div>
      <span>Special attacks:</span><br />
      <div ng-repeat="specialAttack in pokemon.specialAttacks">
        <span>{{ specialAttack.name}}: {{ specialAttack.attackRanking | number: 2  }}</span><br />
      </div>
    </div>
    <hr />
  </div>
  <!-- <div class="row">
    <pre>{{ result }}</pre>
  </div> -->
</div>
